<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Location Share</title>
        <%# jQuery %>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="https://maps.google.com/maps/api/js?key=AIzaSyCdrdaJUhLvVfkf-us5ntJx89oACpFqwLk&language=ja"></script>
        <script src="https://kit.fontawesome.com/c9c0cad405.js" crossorigin="anonymous"></script>
        <script src="/assets/js/script.js"></script>
        <link rel="stylesheet" href="/assets/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="/assets/image/favicon.ico">
        <meta property="og:image" content="https://shared-location.herokuapp.com/assets/image/logo.png">
    </head>
    <body>
        <div id="container">
            <% if current_user %>
                <aside id="sub-area">
                    <nav>
                        <ul id="g-navi">
                            <li>
                                <a class="nav-text" href="/search">
                                    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>ユーザー検索
                                </a>
                            </li>
                            <li>
                                <a class="nav-text" href="/userhome/<%= current_user.id %>">
                                    <div class="profile-nav">
                                        <img class="usericon" src="<%= current_user.img %>" alt="user_image">
                                        <p>プロフィール</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="nav-text" href="/signout">
                                    <i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i>サインアウト
                                </a>
                            </li>
                            <li>
                                <a class="nav-text" href="/">
                                    <i href="/" class="fa-sharp fa-solid fa-house"></i>ホーム
                                </a>
                            </li>
                        </ul>
                    </nav>
                </aside>
            <% end %>
            <main id="main-area">
                <%= yield %>
            </main>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js"></script>
    </body>
</html>
