<section>
    <form action="/signup" enctype="multipart/form-data" method="post">
        <input type="text" name="name" placeholder="名前を入力">
        <input type="text" name="login_id" placeholder="ログインIDを入力">
        <input type="file" name="file">
        <input type="text" name="password" placeholder="パスワードを入力">
        <input type="submit" value="登録">
    </form>
</section>